section {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, #db302a 0%, #62186b 100%) no-repeat;
}

.cont {
  margin: 10%;
  width: 80%;
}

h1 {
  font-family: "Helvetica Neue", Helvetical, Arial, sans-serif;
  font-weight: 300;
  margin-bottom: 100px;
  text-align: center;
  font-size: 42px;
  color: #ffffff;
}

.slidecontainer {
  width: 100%;
}

.slider {
  box-shadow: 6px 7px 15px #8c26cc, 7px 4px 11px #da2020;
  -webkit-appearance: none;
  width: 100%;
  height: 1px;
  background: #ff5f22;
  outline: none;
  transition: opacity 0.2s;
  border-radius: 25px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 25px;
  border-radius: 25px;
  background: #ffffff;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 25px;
  background: #ffffff;
  cursor: pointer;
}

.loanText {
  font-size: 28px;
  color: #e6a127;
  font-weight: 700;
  font-family: "Titillium Web", sans-serif;
}

.subText {
  border-bottom: 1px solid #ffffff;
  width: max-content;
  display: block;
  color: #e6a127;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: 28px;
}
